:root {
  --tittle-color: #13183F;
  --body-color: #83869A;
  --get-text-color: #F74780;
  --primary-color-btn: linear-gradient(180deg, #FF6F48 0.04%, #F02AA6 100%);
  --secondary-color-btn: linear-gradient(180deg, #4851FF 0%, #F02AA6 99.92%);
  --hover-color-btn: #666CA3;
  --clear-color: #FFF;
  --background-color-body: linear-gradient(180deg, #FFF 0%, #F0F1FF 100%);


  --primary-font-family: 'Plus Jakarta Sans', sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: var(--primary-font-family);
}

body {
  background: var(--background-color-body);
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 48px;
  margin: 16px 16px 38px;
}

header .skilled-img {
  width: 89px;
  height: 35px;
  background-image: url(../assets/logo-dark.svg);
  background-repeat: no-repeat;
}

header .get-started-secondary-btn {
  width: 140px;
  height: 48px;
  font-size: 16px;
  font-weight: 500;
  color: var(--clear-color);
  background-color: #13183F;
  border: none;
  border-radius: 28px;
  z-index: 1;
}
header .get-started-secondary-btn:hover {
  cursor: pointer;
  opacity: 0.5;
}

.main-saction-container .info-section h1 {
  color: var(--tittle-color);
  font-size: 40px;
  font-weight: 800;
  margin: 0 16px 26px;
}

.main-saction-container .info-section p{
  color: var(--body-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  margin: 0 16px 24px;
}

.main-saction-container .info-section .get-started-primary-btn {
  width: 140px;
  height: 48px;
  font-size: 16px;
  font-weight: 500;
  color: var(--clear-color);
  background: var(--primary-color-btn);
  border: none;
  border-radius: 28px;
  margin: 0 16px 40px;
}

.main-saction-container .woman-img-container {
  height: 340px;
}
.main-saction-container .info-section .get-started-primary-btn:hover {
  cursor: pointer;
  opacity: 0.5;
}

.main-saction-container .woman-img {
  width: 100%;
  height: 384px;
  background-image: url(../assets/image-hero-mobile@2x.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.info-grid-container {
  display: grid;
  gap: 40px;
  grid-template-columns: repeat(auto-fill, minmax(348px, 1fr));
  margin: 16px 16px 80px;
}

.info-grid-container .first-info-article {
  padding: 24px;
  font-size: 15px;
  line-height: 32px;
  color: var(--clear-color);
  background: var(--primary-color-btn);
  border-radius: 10px;
}

.info-grid-container .first-info-article h2 {
  width: 290px;
  height: 120px;
}

.info-grid-container .info-article {
  position: relative;
  padding: 24px;
  background-color: var(--clear-color);
  border-radius: 10px;
}

.info-grid-container .info-article img {
position: absolute;
top: -26px;
}

.info-grid-container .info-article h3 {
  margin-top: 56px;
  color: var(--tittle-color);
  font-size: 20px;
  font-weight: 800;
}

.info-grid-container .info-article p {
  color: var(--body-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  margin: 16px 0 24px;
}

.info-grid-container .info-article button {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  color: var(--get-text-color);
  background-color: var(--clear-color);
  border: none;
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 120px;
  padding: 16px;
  background-color: var(--tittle-color);
}

footer .skilled-img {
  width: 89px;
  height: 35px;
  background-image: url(../assets/logo-light.svg);
  background-repeat: no-repeat;
}

footer .get-started-tertiary-btn {
  width: 140px;
  height: 48px;
  font-size: 16px;
  font-weight: 500;
  color: var(--clear-color);
  background: var(--secondary-color-btn);
  border: none;
  border-radius: 28px;
}
footer .get-started-tertiary-btn:hover {
  cursor: pointer;
  opacity: 0.5;
}

@media screen and (min-width: 726px) {
  header {
    margin: 32px 32px 38px;
  }

  .main-saction-container {
    display: flex;
    margin: 16px;
  }

  .main-saction-container .woman-img-container {
    position: relative;
    width: 976px;
    scale: 2;
  }

  .main-saction-container .woman-img {
    background-image: url(../assets/image-hero-tablet@2x.webp);
    position: absolute;
    left: 92px;
    top: -36px;
  }

  .info-grid-container {
    grid-template-columns: repeat(auto-fill, minmax(323px, 1fr));
    margin: 210px 32px 80px;
  }

  footer {
    padding: 32px;
  }
}

@media screen and (min-width: 1440px) {
  header {
    margin: 38px 160px;
  }

  .main-saction-container {
    margin: 140px 144px 0;
  }

  .main-saction-container .woman-img {
    background-image: url(../assets/image-hero-desktop@2x.webp);
    position: absolute;
    left: 140px;
    top: -80px;
  }

  .info-grid-container {
    grid-template-columns: repeat(auto-fill, minmax(323px, 1fr));
    margin: 210px 160px 80px;
  }

  footer {
    padding: 32px 160px;
  }
}